.selects-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}
.select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    select {
        border: 1px solid black;
        padding: 5px 25px;
        border-radius: 20px;
    }
    label {
        font-weight: 500;
        font-size: 20px;
    }
}
.select-slider__wrapper {
    width: 100%;
    text-align: center;

    input {
        width: 80%;
    }
}
.itogo {
    display: flex;
    justify-content: center;
    gap: 50px;
}