.contacts__grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
.contacts__container {
    padding-top: 59px;
}

.contacts__grid-info__list {
    display: grid;
    gap: 30px;
}

.contacts__grid-info__list-item {
    display: flex;
    gap: 20px;

    align-items: center;

    
}
.contacts__grid-map {
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}