.contactUsModal {
    position: fixed;

    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0,0,0,0.4);

    z-index: 10;
}

.contactUs-modal__content {
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px; /* Опционально: ограничиваем максимальную ширину */
    animation: slideIn 0.9s ease-in forwards; /* Анимация для выезжания */
}
@keyframes slideIn {
    from {
      top: -50%;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }

  .contactUs-modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    position: absolute;
    top: 0;
    right: 5px;

    &:hover {
      color: #8e8c8c;
      cursor: pointer;
    }
  }

  .contactUs-form__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;

    gap: 30px;
  }

  .contactUs-modal__content-desc {
    text-align: start;
  }

  .contactUs-modal__content-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    input,
    textarea {
        border-bottom: 1px solid grey;
        width: 100%;
        padding-bottom: 10px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }
}

  .contactUs-heading {
    margin-bottom: 20px;
    max-width: 220px;
}
.contactUs-submit__btn {
    text-align: start;

    margin-top: auto;

    button {
        border: 2px solid grey;
        padding: 10px 20px;
    }
    
}

.contactUs-modal__content-form__wrapper {
    display: flex;
    flex-direction: column;

    form {
      margin-bottom: 30px;
    }
}

.contactUs-question {
  text-align: center;
  

  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}