.slider__container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.hero {
    margin-bottom: 50px;
}
.hero__slider {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* ваш стиль для слайдов */
}

/* Дополнительные стили для кнопок навигации */
.swiper-button-prev,
.swiper-button-next {
    /* ваш стиль для кнопок навигации */
}

/* Дополнительные стили для пагинации */
.swiper-pagination {
    /* ваш стиль для пагинации */
}

/* Дополнительные стили для скроллбара */
.swiper-scrollbar {
    /* ваш стиль для скроллбара */
}
