.hero{
    display: flex;
    justify-content: space-between;

    padding: 50px 0;

}
.hero__content {
    margin-top: 200px;
}
.hero__heading {
    font-size: 70px;
    font-weight: 500;
    line-height: 0.8;
    
    text-transform: uppercase;

    span {
        font-size: 100px;
    }
}
.hero__wrapper {
    background-color: #FAEEEE;
}