.mob-footer {
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.mob-footer_main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.mob-footer__nav-list {
    font-size: 20px;
    display: grid;
    gap: 5px;
}
.mob-footer-list {
    font-size: 18px;
}
.mob-footer-list p {
    font-weight: 700;
    margin-bottom: 2px;
}
.mob-footer__production {
    margin-bottom: 30px;
}
.footer-mob-address, .footer-mob-time{
    margin-bottom: 30px;
}
.footer-mob-privacy-copyright {
    margin-top: 40px;
}
.footer-mob-copyright {
    margin-bottom: 5px;
}
