.nav__list {
    display: flex;
    gap: 10px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}
.nav__list-item {
    position: relative;
    
    padding-bottom: 20px;
}
.nav {
    padding-top: 24px;
}