.benefits {
    padding: 90px 0;
}

.benefits__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.benefits__list-item {
    width: 30%;
}

.works {
    padding: 70px 0;
    
}

.slider {
    position: relative;
}
#sliderPrev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 9;
    transform: translate(-50%, -50%);
}
#sliderNext {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 9;
    transform: translate(50%, -50%);
}
.slider__btn {
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 50%;
    padding: 11px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}
