select {
    background-color: rgb(190, 246, 246);
}
.materials-select {
    margin-bottom: 50px;
}
.satin-calculator {
    margin-bottom: 50px;
}
.neylon-calculator {
    margin-bottom: 50px;
}
.silicon-calculator {
    margin-bottom: 50px;
}
.jakkard-calculator {
    margin-bottom: 50px;
}
.cotton-calculator {
    margin-bottom: 50px;
}
.satin-quantity-slider {
    display: grid;
}
.neylon-quantity-slider {
    display: grid;
}
.silicon-quantity-slider {
    display: grid;
}
.jakkard-quantity-slider {
    display: grid;
}
.cotton-quantity-slider {
    display: grid;
}

.hidden {
    display: none;
}