.nav__list-sub-nav {
    opacity: 0;

    pointer-events: none;

    width: 120px; 
    position: absolute;
    left: 0;
    top: 100%;

    transition: all 0.2s ease-in;
    transform: translate(0%, 10%);

    z-index: 9;
}
.nav__list-item:hover .nav__list-sub-nav{
    pointer-events: all;

    transform: translate(0%, 0%);
    opacity: 1;
}

.sub-nav {
    background-color: #666666;
    padding: 10px 20px;

    display: grid;
    gap: 10px;

    border-radius: 15px;
}