@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url(https://db.onlinewebfonts.com/c/cae463692f633b35ed7a23be7d1bc90a?family=Five+Years+Later+Rotated);

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;

    &--small-container {
        display: none;
        padding: 25px;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}
.section-heading {
    font-weight: 700;
    font-size: 32px;
}
.heading-margin {
    margin-bottom: 40px;
}
.deliveryH__heading {
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.our-works {
    font-weight: 700;
    font-size: 24px;
}